<h1>Edit User</h1>

<%= form_for [:account, :admin, @user], local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: @user %>
  <div>
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
  </div>

  <div>
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div>
    <%= f.label :role %><br />
    <%= f.select :role, User.roles.keys.to_a %>
  </div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
